<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>THE PHONEBOOK APP</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
	<link rel="stylesheet" href="/assets/css/smoothproducts.css">
</head>

<body>
	<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
		<div class="container"><a class="navbar-brand logo mx-auto" href="#">THE PHONEBOOK APP</a>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item" role="presentation"></li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="page contact-us-page">
		<section class="clean-block clean-form dark">
			<div class="container">
				<div class="block-heading"></div>
				<div class="col-md-6">
					<div class="full-height">
						<div class="vertical-align full-height pdd-horizon-70">
							<div class="table-cell">
								<h1 class="text-dark font-size-80 text-light">{{message}}</h1>
								<a href="/contact/create" class="btn btn-warning">Get Me Back!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="/assets/js/smoothproducts.min.js"></script>
	<script src="/assets/js/theme.js"></script>
</body>

</html>