<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <link href="./css/home.css" rel="stylesheet" type="text/css">

<body>
<div class="container">
    <form action="action_page.php">

        <label for="name">First Name</label>
        <input required type="text" id="name" name="name" placeholder="Your name..">
  
        <label for="email">Email</label>
        <input required type="email" id="email" name ="name" placeholder="Enter Email">        
        <label for="phone">Phone</label>
        <input type="text" id="phone" name ="phone" placeholder="Enter Phone">
        <input type="submit" value="Submit">
    </form>
</div>